.sendbtn{
    height: 30px;
    width: 100%;
    background-color: blue;
    text-align: center;
    bottom: 10px;
    position: absolute;
}
.sendbtn from input[type ="text"]
{
    position: absolute;
    height: 30px;
    width: 50%;
}

.list-group{
    text-align: center;
    display: flex;
    justify-content: center;
}

.list-group-item{
    
    background-color: grey;
    width: 100%;
    text-align: center;
}