*{
    padding: 0px;
    margin: 0px;
}
nav{
    padding: 5px;
    display: flex;
    width: 100%;
    position: fixed;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}
nav a{
    width: 90px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    margin-left: 10px;
    background-color: darkgray;
    margin-bottom: 5px;
    border-radius: 30px;
}
header{
    background-color: rgb(35, 32, 29);
    height: 40px;
}
#heading{
    color: antiquewhite;
    position: absolute;
    top: 0px;
    z-index: 2;
    text-align: left;
}
#container{
    position: fixed;
    height: 550px;
    width: 100%;
    background-color: rgb(107, 161, 163);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#box{
    height: 300px;
    width: 300px;
    background: linear-gradient(50deg,rgb(189, 67, 189),rgb(241, 102, 241),rgb(131, 82, 131),rgb(119, 58, 119));
    border-style: groove;
    border-radius: 30px;
}
#forgot{
    display: flex;
    flex-direction: column;
}
#forgot label{
    margin: 5px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: large;
}
#forgot input{
    margin: 10px;
    margin-bottom: 50px;
    height: 30px;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(24, 23, 23);
}
#forgot button{
    margin: 10px;
    height: 30px;
    border-style: double;
    border-radius: 20px;
    border-color: brown;
    background: linear-gradient(45deg,rgb(64, 64, 144),rgb(109, 109, 210),rgb(35, 35, 88),rgb(60, 60, 237));
}